body{
    margin:0px;
    text-align: center;
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
    color: #40514e;
}
.title{
    padding-top: 50px;
    padding-left: 61%;
    height: 133px;
    width: 21%;
}
.MyIntroduction{
    background-color: #ECF8F9;
    position: 
    padding-top: 33px;
}
.Margino{
    margin: 0px;
    font-family: 'Sacramento', cursive;
    font-size: 375%;
    font-size: 5rem;
    
}
.NobitaHello{
    margin-block: 3%;
}
h1{
    color: #025464;
}
.skill{
    float: left;
}
.skill-row{
    width: 50%;
    margin: auto;
    line-height: 2;
    
}
.leftalign{
    text-align: left;
}

.bottom-container{
    background-color: #ECF8F9;
    padding: 3%;
    margin-top: 5%;
    
}
.bottom-container > a{
    padding-inline: 2%;
    text-decoration: none;
    color: black;
}

.ContactBtn {
    background: #05BFDB;
    background-image: -webkit-linear-gradient(top, #05BFDB, #088395);
    background-image: -moz-linear-gradient(top, #05BFDB, #088395);
    background-image: -ms-linear-gradient(top, #05BFDB, #088395);
    background-image: -o-linear-gradient(top, #05BFDB, #088395);
    background-image: linear-gradient(to bottom, #05BFDB, #088395);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .ContactBtn:hover  {
    background: #ACB1D6;
    background-image: -webkit-linear-gradient(top, #ACB1D6, #3498db);
    background-image: -moz-linear-gradient(top, #ACB1D6, #3498db);
    background-image: -ms-linear-gradient(top, #ACB1D6, #3498db);
    background-image: -o-linear-gradient(top, #ACB1D6, #3498db);
    background-image: linear-gradient(to bottom, #ACB1D6, #3498db);
    text-decoration: none;
  }